.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.highlight{
    color: #e31b6d ;
}

a {
    color: inherit;
    text-decoration: none;
  }

.canvas {
    background-image: url(../Images/background.png);
    background-size:100%;
    background-repeat: no-repeat; 
    background-color:#34495E;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}
  .nav-link {
    cursor: pointer;
  }
  .navbar {
    bottom: 0;
    left: 0;
    position: absolute;
    background: #1b242f;
    border-bottom: 3px solid #04c2c9;
    height: 50px;
    text-align: left;
    width:100vw;
    z-index: 99;
  }
  li a{
    font-size: 13pt;
    margin: 10pt;
  }

  li a:hover {
      color: #e31b6d;
  }

 .active {
    color: #e31b6d;
  }

    body {
        color: #fff;
        font-family: "Raleway";
        font-size: 12pt;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0px;
        overflow-x: hidden;
        text-align: center;
    } 
    div {
        display: block;
    }
   
    .button {
      border: 2px solid #e31b6d;
      background: transparent;
      color: #e31b6d;
      box-sizing: inherit;
      cursor: pointer;
      display: inline-block;
      font-size: 13pt;
      padding: 10px 20px;
      transition: all 0.5s;
  }
    .button:hover {
      background-color: #04c2c9;
      border-color: #04c2c9;
      color: #fff;
    }
    .button .mdi {
      vertical-align: middle;
    }

    section {
      color: #616161;
      line-height: 11pt;
      padding: 70px 0 70px 0;
      position: relative;
      display: block;
  }
  section:nth-of-type(1) {
    color: #fff;
    height: calc(100vh + 53px);
    padding: 0 10px;
}
section:nth-of-type(1) .text {
  font-size: 35pt;
  line-height: 40pt;
  margin: 0 0 20px 0;
  pointer-events: none;
  z-index: 1;
}
section:nth-of-type(1) .button {
  margin-bottom: 53px;
  padding: 12px 40px 12px 15px;
  position: relative;
}
section:nth-of-type(1) .button .mdi {
  position: absolute;
  right: 15px;
  top: 11px;
  transition: transform 0.3s;
}
.heading{
  display: block;
  font-size: 30pt;
  z-index: 2;
  color: #616161;
}

div .image-me{
  margin-top: 50pt;
}

section:nth-of-type(1) .button:hover .mdi {
  transform: rotate(90deg);
}

div .about-me-text{
color: #616161; 
font-size: 20pt;
line-height: 20pt;

}
.about-me .link-primary .text a:hover{
  color: #04c2c9;
 
}
.about-me-text a{
  color:#e31b6d;
 
}
.skill-text{
  font-size: 20pt;
  line-height: 60pt;
}

.skill-text div{

  margin: 0 0 20px 0;
  color: #616161;
  align-self: center;
}
#skills{
  background-color: #f5f5f5;
}
section:nth-of-type(3) .bar.fill {
  left: 0;
  position: absolute;
  top: 0;
  background-color: #00a1a7;
  opacity: 1;
  padding: 10pt;
}
section:nth-of-type(3) .bar {
  align-items: flex-end;
  background-color: #ddd;
  color: #666;
  font-size: 7pt;
  padding: 10pt;
  height: 22px;
  margin: 0 0 12px 0;
  position: relative;
}
section:nth-of-type(3) .bar .tag {
  left: 0;
  position: absolute;
  top: 0;
  padding: 10pt;
  background-color: #04c2c9;
  color: #fff;
  height: 100%;
  width: 110px;
  width: 70px;
}
.skills-container-list{
  margin-left: 20%;
  margin-right: 20%;
}
.space{
  height: 30pt;
}
#Projects-images{
  display: flex;
  max-width: 1170px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}
.project-container{
  width: 390px;
  height: 300px;
}
#zigzag-project{
background-image: url(../images/zigzzag.png);
background-size:100%;
background-repeat: no-repeat;
}
.project-individual {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  -webkit-animation-name: project-hover-out;
  animation-name: project-hover-out;
}
.project-individual :hover{
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
#vibewallpaper-project{
background-image: url(../images/vibewallpaper.png); 
background-size:100%;
background-repeat: no-repeat; 
}
#portfolio-project{
  background-image: url(../images/portfolio.png);
  background-size:100%;
background-repeat: no-repeat;
}
section:nth-of-type(5) {
  background: #252934;
  color: #fff;
  padding-top: 175px;
}
section:nth-of-type(5) .heading {
 color: #fff;
}
section:nth-of-type(5) svg {
  left: 0;
  position: absolute;
  top: 0;
}
.subheading{
color: #04c2c9;
font-size: 15pt;
}
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 530px;
}
section:nth-of-type(5) form {
  margin: 40px auto 0 auto;
  min-width: 95%;
}
.contact-form-input {
  width: 500px;
  border: none;
  padding: 10px 15px;
  background-color: #1e242c;
  caret-color: #fff;
  font-size: 12pt;
  margin-bottom: 5px;
  color: #fff;
}
section:nth-of-type(5) .button {
  float: right;
  font-size: 12pt;
  margin: 20px 0 0 0;
  outline: 0;
  padding: 10px 30px;
}
#message {
  height: 150px;
  min-width: 500px;
  resize: none;
}
#success-hidden{
  display: none;
 padding: 8pt;
background-color: #4BB543;
width: inherit;
}
#success-text {
  text-align: center;
  width: 100%;
  padding-left: 36px;
}
footer {
  background: #1b242f;
  padding: 70px 0 50px 0;
  position: relative;
}
icon-container{
  align-self:center;
  display: inline-flex;
}

.icon-wrap a{
  display: inline-block;
  align-items: center;
  padding: 20pt;
  flex-direction: column;
  justify-content: center;
}

footer .icon-wrap .icon {
  margin: 0 17px;
}
#linkedin {
  background-image: url(../images/linkedin.png);
  background-size: 100%;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;  
}
#github{
  background-image: url(../images/github.png);
  width: 25px;
  height: 25px;
  background-size: 100%;
  background-repeat: no-repeat;  
}
#instagram{
  background-image: url(../images/instagram.png);
  width: 25px;
  height: 25px;
  background-size: 100%;
  background-repeat: no-repeat;  
}
.iconspace{
  background-color: #262f38;
  width: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.iconspace:hover{
  background-color: #04c2c9;
  width: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}